{% load static %}
<html>
    <head>
        <title>업비트</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
          
            <h1><a href="/" >upbit</a></h1>
        </div>
        <div class="content container">
            <div class="row">
              <b><a class="col-xs-6 col-md-2" title="거래소" href="https://upbit.com/exchange?code=CRIX.UPBIT.KRW-BTC">거래소</a>
              <a class="col-xs-6 col-md-2" title="입출금" href="#">입출금</a>
              <a class="col-xs-6 col-md-2" title="투자내역" href="#">투자내역</a>
              <a class="col-xs-6 col-md-2" title="코인동향" href="#">코인동향</a>
              <a class="col-xs-6 col-md-2" title="자유게시판" href="/blog">자유게시판</a></b>
            </div>
            <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
        </div>
    </body>
</html>
