<!DOCTYPE html>
{% extends 'blog/base.html' %}

<html>

{% block content %}
<p></p>
<div class="container">
              <table class="table table-striped">
                <thead class="bg-info">
                  <tr>
                    <th ><center># </center></th>
                    <th ><center>제목 </center></th>
                    <th ><center>내용 </center></th>
                    <th ><center>댓글 수 </center></th>
                    <th ><center>작성일 </center></th>
                  </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                  <tr>
                    <th ><center>{{ post.id }}</center></th>
                    <td><a href="{% url 'post_detail' pk=post.pk %}"><center>{{ post.title }}</center></a></td>
                    <td><center>{{ post.author }}</center></td>
                    <td><center>{{ post.comments.count }}</center></td>
                    <td><center>{{ post.published_date }}</center></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
      <center>
          <div class="row mt-2">
            <div class="col-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                  {% if boards.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?p={{ posts.previous_page_number }}">Previous</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                  </li>
                  {% endif %}
                  <li class="page-item">
                    <a class="page-link" href="#">{{ posts.number }} / {{ posts.paginator.num_pages }}</a>
                  </li>
                  {% if posts.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?p={{ posts.next_page_number }}">Next</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
          </center>
          <div class="row mt-2">
            <div class="col-12">
              <a href="{% url 'post_new' %}"><button class="btn btn-default pull-right" >글쓰기</button></a>
            </div>
          </div>
          <div class="row mt-2">
</div>

{% endblock %}
</html>
